# Binaries for programs and plugins
gobz
*.exe
*.exe~
*.dll
*.so
*.dylib

## Conf file
*.toml

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vendor
